<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SDE Ass1 - Days alive</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Result</h1>
  <p th:text="'Id: ' + ${person.id}" />
  <p th:text="'Given name: ' + ${person.givenName}" />
  <p th:text="'Family name: ' + ${person.familyName}" />
  <p th:text="'Date of birth: ' + ${person.dateOfBirth}" />
  <p th:text="'Timestamp: ' + ${person.entryTimestamp}" />
  <p th:text="'Days alive: ' + ${person.daysAlive}" />
  <p th:text="'Martian days alive: ' + ${person.martianDaysAlive}" />
  <a href="/">To index</a>
  <a href="/inputForm">Compute another set of values</a>
</body>
</html>