<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>SDE Ass1 - Input history</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <h1>Input history</h1>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Given name</th>
      <th>Family name</th>
      <th>Date of birth<br />(YY-MM-DD)</th>
      <th>Timestamp</th>
      <th>Days alive</th>
      <th>Martian days alive</th>
    </tr>
    <tr th:each="person : ${personList}">
      <td th:text="${person.id}" />
      <td th:text="${person.givenName}" />
      <td th:text="${person.familyName}" />
      <td th:text="${person.dateOfBirth}" />
      <td th:text="${person.entryTimestamp}" />
      <td th:text="${person.daysAlive}" />
      <td th:text="${person.martianDaysAlive}" />
    </tr>
  </table>
  <a href="/">Back</a>
</body>
</html>